/* MAIN HERO */

main {
    overflow: hidden;
}

#mainSectionHero {
    padding-top: 80px;
    background-image: url(../all-image/catbg.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: calc(100vh - 80px);
}

#heroContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroContentPr {
    padding: 5rem 0;
    width: 700px;
    background: rgba(69, 69, 69, .8);
    color: var(--colwhite);
    position: relative;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 2px solid var(--colwhite);
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroContentPr::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: transparent;
    left: -20px;
    top: -20px;
    border-top: 8px solid var(--colpink);
    border-left: 8px solid var(--colpink);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.heroContentPr::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: transparent;
    right: -20px;
    bottom: -20px;
    border-bottom: 8px solid var(--colwhite);
    border-right: 8px solid var(--colwhite);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.heroContentChild {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0 1rem;
}

.heroContentChild h2 {
    width: 90%;
}

.heroContentChild p {
    width: 70%;
    letter-spacing: 1px;
    line-height: 1.6;
}

/* pet categories */

#petCategoriesSection {
    padding: 5rem 0;
    background: darkolivegreen;
}

#petCategoriesContainer {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    overflow-x: hidden;
}

.titleCategories {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.beforeCat {
    width: 20px;
    height: 20px;
    background: var(--colorange);
    position: relative;
}

.beforeCat::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--colorange);
    position: absolute;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    right: -12px;
    top: 0;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.petCategoriesBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.gbCategories {
    height: 250px;
    position: relative;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    border: 2px solid #fff;
    overflow: hidden;
}

.gbCategories:first-child {
    transform: translateX(-120%);
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    -o-transform: translateX(-120%);
}

.gbCategories:nth-child(2) {
    transform: translateX(-250%);
    -webkit-transform: translateX(-250%);
    -moz-transform: translateX(-250%);
    -ms-transform: translateX(-250%);
    -o-transform: translateX(-250%);
}

.gbCategories:nth-child(3) {
    transform: translateX(250%);
    -webkit-transform: translateX(250%);
    -moz-transform: translateX(250%);
    -ms-transform: translateX(250%);
    -o-transform: translateX(250%);
}

.gbCategories:last-child {
    transform: translateX(120%);
    -webkit-transform: translateX(120%);
    -moz-transform: translateX(120%);
    -ms-transform: translateX(120%);
    -o-transform: translateX(120%);
}

.gbCategories:first-child.show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.gbCategories:nth-child(2).show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition-delay: .6s;
}

.gbCategories:nth-child(3).show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition-delay: 1.2s;
}
.gbCategories:last-child.show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.gbCategories::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.gbCategories:hover::after {
    transform: translateY(-190%);
    -webkit-transform: translateY(-190%);
    -moz-transform: translateY(-190%);
    -ms-transform: translateY(-190%);
    -o-transform: translateY(-190%);
    width: 50%;
    height: 20%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background: var(--colpink);
    border: 2px solid #fff;
}

.gbCategories img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    transition-delay: 0;
}

.gbCategories:hover img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transition-delay: .8s;
}

.gbCategories a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    color: #fff;
}

.gbCategories h3 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 2;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    transition-delay: .2s;
}

.gbCategories:hover h3 {
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
    transition-delay: .2s;
}

/* promos */

#promoCtn {
    display: flex;
    justify-content: space-between;
    background: red;
    margin-top: 4rem;
    margin-bottom: 4rem;
    align-items: center;
    color: #fff;
}

.ribbonBefore {
    width: 50px;
    padding: 1.5rem 0;
    background: var(--colorange);
    position: relative;
}

.ribbonAfter {
    width: 50px;
    padding: 1.5rem 0;
    background: var(--colorange);
    position: relative;
}

.ribbonBefore::before {
    content: "";
    width: 50px;
    height: 100%;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: -2em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.ribbonAfter::after {
    content: "";
    width: 50px;
    height: 100%;
    position: absolute;
    background-color: white;
    top: 0;
    right: -2em;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}


/* service section */

#serviceSection {
    padding: 5rem 0;
    background: #025464;
}

#serviceContainer {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.serviceTitle {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.beforeService {
    width: 20px;
    height: 20px;
    background: var(--colpink);
    position: relative;
}

.beforeService::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--colpink);
    position: absolute;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    right: -12px;
    top: 0;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.serviceCardWr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    overflow: hidden;
}

.serviceCard {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 2px solid var(--colwhite);
    color: white;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    position: relative;
}

.serviceCard:first-child {
    background: darkolivegreen;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
}

.serviceCard:nth-child(2) {
    background: #B8621B;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.serviceCard:nth-child(3) {
    background: #2192FF;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
}

.serviceCard:last-child {
    background: var(--colpink);
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.serviceCard:first-child.show {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.serviceCard:nth-child(2).show {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition-delay: .6s;
}

.serviceCard:nth-child(3).show {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition-delay: 1.2s;
}
.serviceCard:last-child.show {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition-delay: 1.8s;
}


.titleCard {
    letter-spacing: 1px;
}

.serviceCard i {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 32px;
}

/* best sell for cat */







